.container {
  justify-content: center;  
  align-items: center;
  border: 1px solid #374151;
  border-radius: 0.75em;
  width: 95%;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.sujet {
  display: flex;
  justify-content: space-between;
  color: #E8E8E8;
  margin-left: 1em;
  width: 90%;
}


.toggleButtons {
  display: flex;
  justify-content: flex-start; /* séparation égale */
  gap: 1rem;
  width: 100%;
  padding: 0.75rem 0;
  margin-left: 1em;
  border-top: 1px solid #374151;
  background-color: #1a1a1a; /* fond cohérent */
  color: #E8E8E8;
}

.toggleButtonsButton {
  align-items: center;
  background: none;
  border: none;
  color: #E8E8E8;
  font-size: 0.9rem;
}

.activeButton {
  background-color: #e6f0ff;
  color: #1a75ff;
  border-radius: 0.35em;
  width: 25%;
  height: 80%;
}