.container {
  justify-content: center;  
  align-items: center;
  border: 1px solid #374151;
  background-color: #1D1D1D;
  border-radius: 0.75em;
  width: 98%;
  height: 100%;
  padding: 1rem;
}

.titre {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  /* Pas de margin-left ni de padding-left */
}

.sujet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  color: #E8E8E8;
  width: 90%;
}


.toggleButtons {
  display: flex;
  justify-content: flex-start; /* séparation égale */
  gap: 1rem;
  justify-content: flex-start; /* séparation égale */
  gap: 1rem;
  width: 100%;
  padding: 0.75rem 0;
  border-top: 1px solid #374151;
  color: #E8E8E8;
}

.toggleButtonsButton {
  align-items: center;
  background: none;
  border: none;
  color: #E8E8E8;
  font-size: 0.9rem;
}

.activeButton {
  background-color: #e6f0ff;
  color: #1a75ff;
  border-radius: 0.35em;
  width: 25%;
  height: 80%;
  background-color: #e6f0ff;
  color: #1a75ff;
  border-radius: 0.35em;
  width: 25%;
  height: 80%;
}