.container{
  /* display: flex; */
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  width: 98%;
  height: 100%;
  margin: 1em auto;
  padding: 1rem;
}

.title{
  font-size: 1.25em;
  font-weight: bold;
  color: #E8E8E8;
}

.subtitle{
  font-size: 0.75rem;
  color: #b8b8b8;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.addButton {
  padding: 0.5rem 1rem;
  background: #064ab5;
  border: none;
  border-radius: 0.45em;
  font-weight: bold;
  cursor: pointer;
}

.blocksGrid {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Par défaut : 1 colonne (mobile) */
}

.blocksRow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.infoBlock {
  background: #b9b9b9;
  border-radius: 0.45em;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 0;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #374151;
    gap: 0.7rem;
    /* border: 1px solid #374151; */
    border-radius: 0.45em;
    padding: 0.5rem;
    height: 100%;
    box-sizing: border-box;
}

@media (min-width: 900px) {
  .blocksGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .middleRow {
    flex-direction: column;
    align-items: stretch;
    gap: 0.3rem;
  }
  .sliderWrapper {
    justify-content: flex-start; /* le slider passe à gauche */
    align-self: flex-start;
    margin-top: 0.3rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.powerIcon {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  transition: transform .4s;
  z-index: 2;
}

.switch input:checked + .slider .powerIcon {
  transform: translateX(16px);
}

.switch input:checked + .slider {
  background-color: #064ab5;
}