.containerMajor{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: #1D1D1D;
  border: 1px solid #374151;
  border-radius: 0.75em;
  margin-top: 1em;
  margin-bottom: 1em;
  /* margin: 1em; */
  width: 98%;
  height: 100%;
}

.containerMajor > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 1em;
  width: 90%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* facultatif : pour aligner verticalement */
  width: 100%; /* ou autre largeur selon votre mise en page */
}

.containerMinor {
    display: flex;
    flex-direction: row;
    border-radius: 0.45em;
    margin-left: 1rem;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.value {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    margin: 0.5em;
    margin-left:auto;
}

.type {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.45em;
    margin: 0.5em;
}

.title{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: #E8E8E8;
  margin-left: 1rem;
  margin-top: 1em;
  gap: 0.5rem;
}

.sliderWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em; /* Ajoute un espace à droite pour éviter de coller le bord */
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.powerIcon {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  transition: transform .4s;
  z-index: 2;
}

.switch input:checked + .slider .powerIcon {
  transform: translateX(16px);
}

.switch input:checked + .slider {
  background-color: #064ab5;
}