@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html, body, #__next {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Urbanist', Arial, ;
  min-height: 100vh;
  height: 100%;
  margin:0;
  padding: 0;
  overflow-y: auto;
  padding-bottom: 70px;
}

.spinnerContainer {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: #18191c;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.spinner {
    border: 6px solid #232323;
    border-top: 6px solid #0070f3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}