@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1B1B1B;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, ;
  min-height: 100vh;
  height: 100%;
  margin:0;
  padding: 0;
  overflow-y: auto;
  padding-bottom: 70px;
}