.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 98%;
    height: 100%;
    margin: 1em auto;
    padding: 1rem;
}

.title {
    color: #E8E8E8;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;  
}

.profile {
    display: flex;
    align-items: left;
    flex-direction: column;
    color: #E8E8E8;
    font-size: 1em;
}

.container button {
    padding: 10px;
    font-size: 1rem;
    background-color: #064ab5;
    color: #E8E8E8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
}