.container{
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 0.25rem; /* réduit l'écart vertical */
  width: 98%;
  height: 100%;
  margin-top: 0.5em auto; /* réduit le margin */
  margin-bottom: 0.5em auto;
  padding: 0.5rem; /* réduit le padding */
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.card {
  background: #1D1D1D;
  border-radius: 1.2rem;
  padding: 0.8rem 0.7rem; /* réduit le padding */
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* réduit l'écart vertical */
}

.value {
  color: #fff;
  font-size: 1rem; /* réduit la taille */
  font-weight: 500;
  min-width: 40px; /* réduit la largeur minimale */
  text-align: right;
  margin-left: 0.5rem; /* rapproche la valeur du texte */
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0; /* réduit l'écart vertical entre les lignes */
}

.label {
  display: flex;
  align-items: center;
  font-size: 1rem; /* réduit la taille */
  gap: 0.4rem; /* réduit l'écart entre l'icône et le texte */
}